doctype html
html(ng-app="npmgems")
  head
    meta(charset="utf-8")
    base(href="/")
    title NpmGems
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" href="/application.css")
  body
    include partials/header
    div(role="main" ui-view)
    include partials/footer
    script(type="text/javascript" src="/application.js")
    include partials/bootstraping
