doctype html
//- TODO: Don't forget to set lang !!
//if lt IE 7
  |<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  |<html class="no-js lt-ie9 lt-ie8">
//if IE 8
  |<html class="no-js lt-ie9">
//if gt IE 8
  |<!--><html ng-app="npmgems" class="no-js"><!--
head
  //- TODO: Check if it's the good charset
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title NpmGems
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
  block css
    link(rel='stylesheet', href='./application.css')
  block top-script
    script(src='js/vendor/modernizr-2.6.2.min.js')
body
  //-
    Add your site or application content here
  block main
    h1 Hello world! This is HTML5 Boilerplate.

    ul.unstyled(ng-controller="MappingsCtrl")
      li(ng-repeat="mapping in mappings")
        | {{mapping.gems}} 
        strong Ruby Gems
        |  - 
        strong Npm Packages 
        | {{mapping.npm}}

    form(role='form' ng-controller="SearchCtrl as search" ng-submit="search.connect(gems, npm)")
      .form-group
        label(for="search_gems_input") RubyGems
        input#search_gems_input.form-control(type="text" ng-model="gems" typeahead="gem as gem.name for gem in search.gems($viewValue)" typeahead-wait-ms="1000")
      .form-group
        label(for="search_npm_input") Npm Packages
        input#search_npm_input.form-control(type="text" ng-model="npm" typeahead="npm as npm.name for npm in search.npm($viewValue)" typeahead-wait-ms="1000")
      button.btn.btn-default(type="submit") Connenct!

  block bottom-script
    script(src='./application.js')
    //- TODO : Google Analytics: change UA-XXXXX-X to be your site\'s ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');