$icon-font-path: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

@import "bootstrap";
/*
 * animate-sass
 */
$use-animation : false;

$use-flipInY      : true;
$use-flipOutY     : true;

.ng-enter { @include animation(flipInY 1s); }
.ng-leave { @include animation(flipOutY 1s); }

@import "animate";
/*
 * app
 */
body { padding-top: 70px; }

#index {
  .pkg-name {
    padding: 0 .5em 0 .5em;
  }

  #vice_versa {
    margin-left: 1em;
  }
}

#mappings_list {
  .gems-name { margin-left: .5em; }
  .npm-name { margin-right: .5em; }
}