$icon-font-path: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

@import "bootstrap";
/*
 * app
 */
body { padding-top: 70px; }

#index {
  .pkg-name {
    padding: 0 .5em 0 .5em;
  }

  #vice_versa {
    margin-left: 1em;
  }
}

#mappings_list {
  .panel-heading, .panel-footer {
    a { margin: 0 .5em; }
  }

  .commenter {
    padding-top: 10px;
    padding-bottom: 10px;

    p { margin-top: 10px; }
  }
}